* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-image: url(Foto/Fon-BODY.jpg);
}
.header {
  position: sticky;
  z-index: 25;
  top: 0px;
}
.fon-header {
  background-color: rgba(0, 0, 0, 0.75);
}
.row-head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.navigation {
  width: 100%;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}
.menu-block {
  max-width: 100%;
  max-height: 100%;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-around;
}
.menu li {
  color: white;
  width: 33%;
  list-style: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
.menu li:hover {
  background-color: teal;
  opacity: 75%;
  color: white;
}
.form-search {
  position: relative;
}
.form-search input {
  padding: 10px;
  font-weight: bold;
}
.title {
  padding-top: 50px;
  padding-bottom: 30px;
  width: 100%;
}
.title-1 {
  padding-left: 25px;
  border-left: 5px solid grey;
  font-size: 36px;
  font-weight: bold;
  width: 100%;
  color: black;
  text-transform: uppercase;
}
.slide-1 {
  background-color: rgb(228, 210, 176, 0.75);
}
.title-2 {
  padding-left: 25px;
  border-left: 5px solid grey;
  font-size: 36px;
  font-weight: bold;
  width: 100%;
  color: white;
  text-transform: uppercase;
}
.slide-2 {
  background-color: rgb(59, 15, 15, 0.75);
}
.power-words {
  padding-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.power-words-1,
.power-words-2,
.power-words-3 {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid brown;
}
.bible-foto {
  padding-bottom: 20px;
}
.bible-words {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
}
.bible-text {
  padding-top: 20px;
}
.about-foto-priest {
  margin: 10px;
  margin-bottom: 50px;
}
.about-foto-priest img {
  width: 100%;
  height: 100%;
}
.about-text-priest {
  background-image: url(Foto/suviy-fon.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Pacifico", cursive;
  font-weight: lighter;
  font-size: 20px;
  margin: 10px;
  margin-bottom: 50px;
}
.about-text-priest p {
  padding: 10%;
  padding-top: 10%;
  padding-bottom: 40%;
  font-size: 20px;
  text-align: center;
}
.books {
  margin: 5px;
  padding: 5px;
  text-align: center;
  margin-bottom: 50px;
}
.name-book {
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 16px;
  padding: 5px;
  color: rgb(125, 7, 172);
}
.about-book {
  font-family: "Pacifico", cursive;
  font-weight: lighter;
}
.parish-life-block {
  margin: 10px;
  border: 3px solid brown;
  padding: 10px;
  margin-bottom: 50px;
}
.parish-life-block img {
  width: 100%;
}
.parish-life-1 .log {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-transform: uppercase;
  font-style: italic;
  color: brown;
}
.parish-life-about span {
  font-weight: bold;
}
.google-map {
  width: 100%;
}
.contact-info {
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 25px;
}
.contact-info h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
.contact-info-icon {
  margin-bottom: 50px;
  width: 50%;
}
.icon-info {
  width: 40px;
  height: 40px;
  background-color: blue;
  margin: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-fb-inf {
  background-image: url(Foto/fb-icon.png);
}
.icon-mail-inf {
  background-image: url(Foto/letter-icon.ico);
  background-size: 80%;
}
.icon-phone-inf {
  background-image: url(Foto/phone-icon.ico);
  background-size: 80%;
}
.icon-skype-inf {
  background-image: url(Foto/skype-icon.png);
}
.contact-info-fb,
.contact-info-mail,
.contact-info-phone,
.contact-info-skype {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contact-info-fb:hover,
.contact-info-mail:hover,
.contact-info-phone:hover,
.contact-info-skype:hover {
  background-color: white;
}
footer {
  background-color: black;
}
.site-information {
  padding: 3%;
  color: white;
  font-size: 15px;
  text-align: center;
}
.modal {
  position: fixed;
  top: 30%;
  left: 60%;
  width: 100%;
  height: 100%;
  z-index: 24;
}
.modal-block {
  padding: 1%;
  background-image: url(Foto/Question-fon.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 500px;
  height: 400px;
  text-align: center;
}
.modal-form {
  width: 100%;
  height: 100%;
}
.head-modal {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  color: greenyellow;
}
.head-modal,
.modal-name,
.modal-phone,
.modal-textarea,
.modal-btn {
  padding: 1%;
}
.modal-name input {
  width: 70%;
}
.modal-phone input {
  width: 70%;
}
.modal-textarea textarea {
  width: 70%;
}
.modal-btn button {
  padding: 1%;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.modal-btn button:hover {
  background-color: rgb(37, 196, 37);
  color: black;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .about-text-priest {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .about-text-priest {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .logo {
    text-align: center;
  }
  .about-text-priest p {
    font-size: 14px;
  }
  .contact-info-icon {
    width: 100%;
  }
  .modal {
    position: relative;
    top: 1%;
    left: 0;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .form-search input {
    background: transparent;
    border: none;
    color: white;
  }
  .form-search > input {
    width: 80%;
  }
  .form-search > button {
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 5px;
    background: transparent;
    background-image: url(Foto/loop_g.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
  .form-search input:focus {
    outline: none;
  }
  .form-search:hover {
    border: 2px solid white;
  }
}
